.env
backend/.env
venv/
../venv/
data/*.xlsx
data/*.xls
data/db.sqlite3
data/staticfiles/
data/media/
backend/staticfiles/
backend/media/
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.vite-temp/
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
__pycache__/
*.pyc